body
{
    text-align:center;
    font-family:'Mongolian Baiti';
}
.TitelImage 
{
    margin: 1em;
    width: 100em;
    height: 15em;
    align-self: center;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
.ListImage 
{
    height: 15em;
}
h1
{
    font-size: 3em;
}
.ListText
{
    font-size:1.5em;
}
.IntroInfo 
{
    font-size: 1.7em;
    width:15em;
}
.ListDiv
{
    margin: 1.5em;
    width: 25em; 
}
.IntroInfo,
.ListDiv,
.InfoImage 
{
    display: inline-block;
}